body{
    background-color: #F7F0F5;
    overflow: auto;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media(max-width:770px){
    .container{
        margin:0 10%;
    }
}



 