.container{
    margin : 60px 0;
}

.card{
    margin: 10px 2% !important;
}

.infected{
    border-bottom : 10px solid rgb(255, 163, 26);
}

.recovered{
    border-bottom : 10px solid rgba(153, 187, 255);
}
.deaths{
    border-bottom : 10px solid rgba(255, 0, 0, 0.5);
}
.predicted {
    border-bottom : 10px solid rgb(255, 255, 179);
}


@media(max-width:770px){
    .card{
        margin : 2% 0 !important;
    }
}